@{
    ViewBag.Title = "Home Page";
}

<div>
    @using (Ajax.BeginForm("PlayerSearch", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="text" name="date" />
        <input type="submit" value="Поиск" />
    }
<div id="results"></div>
</div>